[submodule "sam-hq"]
	path = sam-hq
	url = https://github.com/hchautran/sam-hq.git
[submodule "quant/qgemm/third-party/cutlass"]
	path = quant/qgemm/third-party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "quant/qgemm/third-party/fast-hadamard-transform"]
	path = quant/qgemm/third-party/fast-hadamard-transform
	url = https://github.com/Dao-AILab/fast-hadamard-transform.git
